/* FONTS */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lily+Script+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lily+Script+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-------------------*/
/* GENERAL*/

body {
    
    font-family: "Poppins", sans-serif;
    color: #f5f5f5;
  }
/* HEADER */
/* Presentation of web */
  #presentation1, #presentation2 {
    text-align: center;
    font-size: 3vw;
  }
  
  #presentation2 {
    font-weight: 900;
    color: #8BD5FF;
  
  }  

/*-------------------*/  
/* MAIN */
/* Companies */
.companies {
  font-size: 1.3rem;
}

/* Accordion */
.accordion-button {
  font-family: "Montserrat", sans-serif;
  color: #f5f5f5;
  font-weight: 700;

}

/*-------------------*/
/* FOOTER */

/* Nav footer */
footer {
  font-size: large;
}

#navFooter {
  color: #78CEFF;
  font-weight: 600;
  
}
